i.violet.icon.envelope.large.outline:hover {
  color: #0dbab1 !important;
}

i.violet.icon.large.linkedin:hover {
  color: #0dbab1 !important;
}

i.violet.icon.large.github:hover {
  color: #0dbab1 !important;
}

i.violet.icon.large.medium:hover {
  color: #0dbab1 !important;
}
