body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#wrapper {
  margin: 16px auto;
  max-width: 1000px;
  padding: 4%;
  font-size: 20px;
  border-radius: 25px;
}

.background {
  padding: 40px;
  background-color: rgb(230, 230, 250);
}

.item a {
  color: black;
}

.blog-cards-group {
  margin: 10px;
}

.blog-card {
  text-align: center;
  height: 700px;
}

.header {
  margin: 20px;
}

.blog-card div.description {
  margin: 20px;
  text-align: left;
}

.center {
  text-align: center;
}
